/*-------------------*/
/* Custom properties */
/*-------------------*/

:root {
  /* colors*/
  --clr-red: 0 100% 74%;
  --clr-green: 154 59% 51%;
  --clr-blue: 248 32% 49%;
  --clr-dark-blue: 249 10% 26%;
  --clr-grayish-blue: 246 25% 77%;
}

/*-------------------*/
/* Reset             */
/*------------------ */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
p {
  margin: 0;
}

/* set up the body */
body {
  line-height: 1.5;
  min-height: 100vh; /* it prevents short pages */
  font-family: "Poppins", sans-serif;
}

/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off*/

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*------------------*/
/* Utility classes  */
/*------------------*/

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > * + * {
  margin-top: 1.5rem;
}

/* colors */
.text-red {
  color: hsl(var(--clr-red));
  font-weight: 600;
}
.text-green {
  color: hsl(var(--clr-soft-red));
}
.text-accent {
  color: hsl(var(--clr-blue));
}
.text-dark {
  color: hsl(var(--clr-dark-blue));
}
.text-grayish {
  color: hsl(var(--clr-grayish-blue));
  font-size: 0.75rem;
  text-align: center;
}

/* typography */
.uppercase {
  text-transform: uppercase;
}

/*  ==========================================================================
    Author's custom styles - Mobile first design
    ========================================================================== */

/* ===================== Base Styles =========================== */

body {
  min-height: 100vh; /* it prevents short pages */
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  line-height: 1.5;
  background-image: url(../images/bg-intro-mobile.png);
  background-color: hsl(0, 100%, 74%);
}

header {
  padding-inline: 1.5rem;
  margin: 3.75rem 0 2rem;
  color: #fff;
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 1.3rem;
  text-align: center;
}

header p {
  font-size: 0.9rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  opacity: 0.8;
  text-align: center;
}

main {
  padding-inline: 1.5rem;
}

.trial-option {
  background-color: rgba(95, 84, 164, 0.9);
  padding: 0.5rem 4rem;
  width: 100%;
  display: block;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;
}

.trial-option a {
  text-decoration: none;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 600;
}

.trial-option span {
  font-weight: normal;
}

.form-wrapper {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  color: hsl(var(--clr-dark-blue));
  padding: 2rem 1.5rem;
}

div label {
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

form div input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  outline: none;
  border: 2px solid #c4c4c4;
  padding: 0 15px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem;
}

form img {
  position: relative;
  top: -2rem;
  right: 1.5rem;
  float: right;
}

form img {
  display: none;
}

button {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: 0.5rem;
  background-color: hsl(var(--clr-green));
  color: #fff;
  border: 0.1rem solid transparent;
  box-shadow: 0 0.3rem 0 rgba(55, 185, 133, 0.5);
}

footer {
  margin: 2.75rem 1.5rem;
  padding-inline: 1.5rem;
  text-align: center;
  font-size: 0.8rem;
}

.attribution a {
  text-decoration: none;
}

.attribution a:hover {
  color: rgba(55, 185, 133, 0.5);
  cursor: pointer;
}

/* ===================== Media Queries =========================== */

/***** Desktop display larger than 1200 px wide *****/

@media only screen and (min-width: 1200px) {
  body {
    background-image: url(../images/bg-intro-desktop.png);
    display: grid;
    grid-template-rows: 2em 7vh auto 5em;
    grid-template-columns: 2fr 2fr 0fr 0fr;
    grid-template-areas:
      "header . . ."
      ".  main main ."
      ". . . ."
      "footer footer footer footer";
  }

  header {
    grid-area: header;
  }

  main {
    grid-area: main;
  }

  footer {
    grid-area: footer;
  }

  header {
    max-width: 90%;
    padding: 12rem 0 9rem 12rem;
  }

  h1 {
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: left;
  }

  header p {
    font-size: 1rem;
    text-align: left;
  }

  main {
    padding: 4.5rem 9rem 0 6rem;
  }

  .form-wrapper {
    max-width: 425px;
  }

  .trial-option {
    max-width: 425px;
    padding: 1rem 3rem;
  }

  .trial-option a {
    font-size: 1rem;
  }

  form div input {
    font-size: 1rem;
  }

  button {
    transition: all 0.1s ease;
    cursor: pointer;
  }

  button:hover {
    opacity: 0.8;
  }
}
